<div>
  <span md-line>
       {{_question.incriment}}
  </span>
  <div>
    <!--answers-->
    <div *ngFor="let answer of answers | async">

      <div *ngIf="_question.type == 'Mcq'"  >
        <app-answer-mcq [totalAnswerVotes]="totalAnswerVotes" [answer]="answer"></app-answer-mcq>
      </div>

      <div *ngIf="_question.type == 'Short'">
        <app-answer-short [answer]="answer"></app-answer-short>
      </div>

    </div>

    <!--makes sure this the is bottom level question-->
    <span *ngIf="_question.subQuestions.length == 0 ">
      <span *ngIf="_question.type == 'Short'">
        <app-new-answer [questionId]="_question.id"></app-new-answer>
      </span>

      <button (click)="showComments = !showComments">Show Comments</button>

      <span *ngIf="showComments">

        <div *ngFor="let comment of comments | async">
          <app-comment [comment]="comment"></app-comment>
        </div>

        <app-new-comment></app-new-comment>
      </span>

    </span>


  </div>
  <ul>
    <li *ngFor="let subQuestion of (subQuestions | async)">
      <app-question [question]="subQuestion"></app-question>
    </li>
  </ul>

</div>
