<h1>Courses</h1>
<button type="button" md-raised-button color="primary" *ngIf="isAdmin$ | async" (click)="openDialog()">Add Course</button>
<button type="button" md-raised-button color="primary" *ngIf="loggedIn$ | async" (click)="openDialog(true)">Request a Course to be Added</button>

<div fxLayout="row" fxLayoutWrap="wrap" *ngIf="courses$ | async; else loading; let courses">

    <a [routerLink]="['/' + course.$key]" *ngFor="let course of courses; trackBy: trackByFn" >
      <md-card class="can-click highlight-background">
        <md-card-title>{{course.name}}</md-card-title>
        <md-card-subtitle>Code: {{course.code}}</md-card-subtitle>
      </md-card>
    </a>

    <div *ngIf="courses.length == 0">
      There are no courses
    </div>

</div>




<ng-template #loading>
  <md-spinner></md-spinner>
</ng-template>
