
<button md-raised-button color="primary" (click)="testAuth()" >Test to see if you're loged in</button>
{{testResult}}
<button md-raised-button color="primary" (click)="refreshTokens()">Refresh Tokens</button>

<file-upload  [multiple]="true"></file-upload>

<div *ngFor="let number of test$ | async">number</div>

<button md-raised-button color="primary" (click)="testToken()">testToken</button>

<button md-raised-button color="primary">RAISED</button>



<button md-raised-button color="primary" (click)="connect()">connect</button>
<button md-raised-button color="primary" (click)="echo()">send</button>

<div *ngFor="let message of messages">
    {{message}}
</div>