/* Globals */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body{
  font-family: Arial, serif;
}

a{
  color:black;
  text-decoration: none;
}

a:hover{
  color:blue;
}

.can-click{
  cursor: pointer;
}

.can-click:hover{
  background:lightgrey
}
