/* Globals */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
/*@import '~@angular/material/core/theming/prebuilt/pink-bluegrey.css';*/
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
/*@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';*/
/*@import '~@angular/material/core/theming/prebuilt/purple-green.css';*/

body{
  font-family: Arial, serif;
  color: black;
  margin: 0;
}


.center-text{
  text-align: center;
}

md-card{
  margin: 10px;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  color:greenyellow;
}

.can-click{
  cursor: pointer;
}

.highlight-background:hover{
  background:lightgrey
}
