<h1>Papers</h1>

<button md-icon-button color="secondary" [routerLink]="['../']" >
  <md-icon>chevron_left</md-icon>
</button>
<button  type="button" md-raised-button color="primary" (click)="openNewPaperDialog()" *ngIf="isAdmin$ | async">Add Paper</button>

<div *ngIf="(papers$ | async)?.length == 0">
    There are no papers for this course
  </div>

<md-spinner *ngIf="(papers$ | async) === null" color="accent"></md-spinner>

<div fxLayout="row" fxLayoutWrap="wrap">
    <a [routerLink]="paper.$key" *ngFor="let paper of papers$ | async; trackBy: trackByFn" >
      <md-card  class="can-click highlight-background" >
        <md-card-title>{{paper.name}}</md-card-title>
      </md-card>
    </a>
</div>
