<h1>Papers</h1>

<button md-icon-button color="secondary" [routerLink]="['../']" >
  <md-icon>chevron_left</md-icon>
</button>
<button  type="button" md-raised-button color="primary" (click)="openNewPaperDialog()" *ngIf="isAdmin$ | async">Add Paper</button>
<button  type="button" md-raised-button color="primary" (click)="openNewPaperDialog(true)" *ngIf="loggedIn$ | async">Request Paper to be added</button>


<div fxLayout="row" fxLayoutWrap="wrap" *ngIf="papers$ | async; let papers">
  <a [routerLink]="paper.$key" *ngFor="let paper of papers; trackBy: trackByFn" >
    <md-card  class="can-click highlight-background" >
      <md-card-title>{{paper.name}}</md-card-title>
    </md-card>
  </a>

  <div *ngIf="papers.length == 0">
    There are no papers for this course
  </div>
</div>


<ng-template>
  <md-spinner color="accent"></md-spinner>
</ng-template>
