<form [formGroup]="newExamForm" (ngSubmit)="onSubmit()" >
    <div>
        <md-input placeholder="Year" formControlName="year"></md-input>
        <control-messages [control]="newExamForm.controls.year"></control-messages>
    </div>

    <div>
        <md-input placeholder="Semester" formControlName="semester"></md-input>
        <control-messages [control]="newExamForm.controls.semester"></control-messages>
    </div>
    <div formArrayName="sections">
        <div *ngFor="let sectionControl of newExamForm.controls.sections.controls; let i = index">
            Secotion: {{i + 1}}
            <div [formGroupName]="i">

                <div>
                    <md-input placeholder="Count" formControlName="count"></md-input>
                    <control-messages [control]="newExamForm.controls.sections.controls[i].controls.count"></control-messages>
                </div>

                <div>                    
                    <md-input placeholder="Type" formControlName="type"></md-input>
                    <control-messages [control]="newExamForm.controls.sections.controls[i].controls.type"></control-messages>
                </div>
                <button type="button" (click)="removeSection(i)">Remove</button>
            </div>
        </div>
        <button type="button" (click)="addSection()">Add</button>
    </div>

    <button md-raised-button color="primary" type="submit" [disabled]="!newExamForm.valid" >Submit</button>
</form>