@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="paper-title">
	<h1>Pass Past - Login</h1>

	<div>
		<a href="ExternalLogin?provider=Facebook&returnUrl=/" class="sidebar-btn btn btn-default" role="button">Login with Facebook</a>
	</div>
	<div>
		<a href="#" class="sidebar-btn btn btn-default" role="button">Login with Google</a>
	</div>
	<div>
		<form action="/Account/Logout" method="post">
			<input type="submit" name="submit" class="btn btn-default submit-button" value="Logout" />
		</form>
	</div>
</div>