.header-navigation{
  display: flex;
  justify-content: space-between;
}
.header-navigation__link{
  padding: 5px;
}
.header-navigation__link--hover{
  padding: 5px;
  background-color: dimgrey;
}

.active-router-link{
  background-color: orange;
}