<form [formGroup]="newCourseForm" (ngSubmit)="onSubmit()" >
    <div>
        <md-input placeholder="Name" formControlName="name"></md-input>
        <app-control-messages [control]="newCourseForm.controls.name"></app-control-messages>
    </div>

    <div>
        <md-input placeholder="Code" formControlName="code"></md-input>
        <app-control-messages [control]="newCourseForm.controls.code"></app-control-messages>
    </div>

    <button md-raised-button color="primary" type="submit" [disabled]="!newCourseForm.valid" >Submit</button>
</form>