<h1>Exams</h1>
<button md-icon-button color="secondary" [routerLink]="['../']" >
  <md-icon>chevron_left</md-icon>
</button>

<span *ngIf="loggedIn$ | async">
  <button type="button" md-raised-button color="primary" (click)="openNewExamDialog(true)">Add Exam</button>
</span>

<span *ngIf="isAdmin$ | async">
  <button type="button" md-raised-button color="primary" (click)="openNewExamDialog()">Request Exam to be Added</button>
</span>

<div *ngIf="(exams$ | async)?.length == 0">
  There are no Exams for this Paper
</div>

<md-spinner *ngIf="(exams$ | async) === null" color="accent"></md-spinner>

<div fxLayout="row" fxLayoutWrap="wrap">
  <md-card *ngFor="let exam of exams$ | async; trackBy: trackByFn" [routerLink]="exam.$key" class="can-click highlight-background" >
    <md-card-title>{{exam.year}}</md-card-title>
    <md-card-subtitle>Semester: {{exam.semester}}</md-card-subtitle>
  </md-card>
</div>
