<h1>Exams</h1>
<button md-icon-button color="secondary" [routerLink]="['../']" >
  <md-icon>chevron_left</md-icon>
</button>

<span *ngIf="loggedIn$ | async">
  <button type="button" md-raised-button color="primary" (click)="openNewExamDialog(false)">Add Exam</button>
</span>

<span *ngIf="isAdmin$ | async">
  <button type="button" md-raised-button color="primary" (click)="openNewExamDialog(true)">Request Exam to be Added</button>
</span>

<div fxLayout="row" fxLayoutWrap="wrap" *ngIf="exams$ | async; else loading; let exams">
  <a *ngFor="let exam of exams; trackBy: trackByFn" [routerLink]="exam.$key">
    <md-card class="can-click highlight-background" >
      <md-card-title>{{exam.year}}</md-card-title>
      <md-card-subtitle>Semester: {{exam.semester}}</md-card-subtitle>
    </md-card>
  </a>

  <div *ngIf="exams.length == 0">
    There are no Exams for this Paper
  </div>

</div>


<ng-template #loading>
  <md-spinner></md-spinner>
</ng-template>


