@model PassPast.ViewModels.ExamsViewModel
@{
            Layout = "~/Views/Shared/_ExamsLayout.cshtml";
}

<div class="paper-title">
	<h1>Exams for @ViewBag.CourseCode @ViewBag.PaperName</h1>
	<p><br />Please select an exam from the menu.</p>
</div>