<form [formGroup]="newCourseForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <div>
    <md-input-container>
      <input mdInput placeholder="Name" formControlName="name">
    </md-input-container>
    <av-validation-messages [control]="newCourseForm.controls.name"></av-validation-messages>
  </div>

  <div>
    <md-input-container>
      <input mdInput placeholder="Code" formControlName="code">
    </md-input-container>
    <av-validation-messages [control]="newCourseForm.controls.code"></av-validation-messages>
  </div>

  <div>
    <av-validation-messages [control]="newCourseForm"></av-validation-messages>
  </div>

  <button md-raised-button color="primary" type="submit" [disabled]="!newCourseForm.valid">Submit</button>
</form>
