@model PassPast.ViewModels.CoursesViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="papers">
	<div class="paper-title">
		<h2>Add New Course</h2>
        @{ 
            if (ViewBag.Error != null)
            {
                <h3 style="color:darkred">@ViewBag.Error</h3>
            }
        }
		<h4 class="select-heading">Select a Course</h4>

		<div>
			<form action="/Home/AddCourse" method="post">
				<label>Course Name</label><br /><input type="text" title="Please only enter letters/spaces." pattern="[a-zA-Z][a-zA-Z\s]+" name="CourseName" placeholder="eg Computer Science" />
				<br />
				<label>Course Code</label><br /><input type="text" title="Please only enter letters/spaces." pattern="[a-zA-Z][a-zA-Z\s]+" name="CourseCode" style="text-transform:uppercase" placeholder="eg COMPSCI" />
				<br />
				<input type="submit" name="submit" class="btn btn-default submit-button" value="submit" />
			</form>
		</div>

	</div>
</div>