<div>
    <span class="form-label">First Name: </span>
    <span class="form-value">{{given_name$ | async | defaultValue: "First name specified"}}</span>
</div>

<hr>

<div>
    <form [formGroup]="resetPasswordForm" (submit)="submitChangePassword()">
        <div>
            <label>Old Password</label>
            <input type="text" formControlName="oldPassword" />
            <control-messages [control]="resetPasswordForm.controls.oldPassword"></control-messages>
        </div>

        <div [formGroup]="resetPasswordForm.controls.passwords">
            <div>
                <label>password</label>
                <input type="text" formControlName="password" />
                <control-messages [control]="resetPasswordForm.controls.passwords.controls.password"></control-messages>
            </div>

            <div>
                <label>confirmPassword</label>
                <input type="text" formControlName="confirmPassword" />
                <control-messages [control]="resetPasswordForm.controls.passwords.controls.confirmPassword"></control-messages>
            </div>
            <div *ngIf="resetPasswordForm.controls.passwords.errors?.invalidCompare && resetPasswordForm.controls.passwords.touched">
                Passwords must match
            </div>
        </div>

        <button [disabled]="!resetPasswordForm.valid" type="submit">Submit</button>
    </form>
</div>