@model PassPast.ViewModels.PapersViewModel

@{
	Layout = "~/Views/Shared/_PapersLayout.cshtml";
}
<div class="paper-title">
	<h1>Papers for @ViewBag.CourseCode</h1>
	<p><br />Please select a paper from the menu.</p>
</div>
