@model PassPast.ViewModels.PapersViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="papers">
	<div class="paper-title">
		<h2>@ViewBag.CourseCode: Add new paper</h2>
        @{
            if (ViewBag.Error != null)
            {
                <h3 style="color:darkred">@ViewBag.Error</h3>
            }
        }
		<div>
			<form class="form-horizontal select-heading" action="/Papers/AddPaper" method="post">
				<div class="form-group">
					<label class="control-label col-sm-5">Number:</label>
					<div class="col-sm-7">
						<input class="form-control" type="text" title="Please only enter numbers." pattern="[0-9]+" name="PaperName" placeholder="eg 101" />
					</div>
				</div>
				</div>
				<input type="hidden" name="CourseCode" value="@ViewBag.CourseCode" />
				<div class="form-group">
					<div class="col-sm-12">
						<input type="submit" name="submit" value="Submit" class="btn btn-primary btn-md form-button">
						<a href="../Home/Index" class="btn btn-danger btn-md form-button">Cancel</a>
					</div>
				</div>
			</form>
		</div>
</div>