@model PassPast.ViewModels.PapersViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="papers">
	<div class="paper-title">
		<h2>Add New Paper</h2>
        @{
            if (ViewBag.Error != null)
            {
                <h3 style="color:darkred">@ViewBag.Error</h3>
            }
        }
		<div>
			<form action="/Papers/AddPaper" method="post">
				<label>Paper Name</label><br /><input type="text" title="Please only enter numbers." pattern="[0-9]+" name="PaperName" placeholder="eg 101" />
				<input type="hidden" name="CourseCode" value="@ViewBag.CourseCode" />
				<input type="submit" name="submit" class="btn btn-default submit-button" value="submit" />
			</form>
		</div>

	</div>
</div>