<form [formGroup]="newExamForm" (ngSubmit)="onSubmit()" >
    <div>
        <md-input placeholder="Year" formControlName="year"></md-input>
        <app-control-messages [control]="newExamForm.controls.year"></app-control-messages>
    </div>

    <div>
        <md-button-toggle-group formControlName="semester">
            <md-button-toggle value="Semester1" [checked]="true">Semester 1</md-button-toggle>
            <md-button-toggle value="Semester2">Semester 2</md-button-toggle>
            <md-button-toggle value="SummerSchool">Summer School</md-button-toggle>
        </md-button-toggle-group>
        <app-control-messages [control]="newExamForm.controls.semester"></app-control-messages>
    </div>

    <button md-button (click)="ngOnInit()">Reset</button>
    <button md-button (click)="addSection()">+ Add Section</button>
    <ul>
        <li *ngFor="let section of newExamForm.controls.sections.controls; let i=index">
             <button md-button (click)="removeSection(i)" type="button">RemoveSection</button>
            <app-question-section [sectionForm]="section"></app-question-section>
        </li>
    </ul>



    <button md-raised-button color="primary" type="submit" [disabled]="!newExamForm.valid" >Submit</button>
</form>