<div [formGroup]="sectionForm" class="new-question-section-form">
    <div> 
        <md-input placeholder="Count" formControlName="count"></md-input>
        <app-control-messages [control]="sectionForm.controls.count"></app-control-messages>
    </div>

    <div>
        <div>
            Question Type: 
            <md-button-toggle-group formControlName="type">
                <md-button-toggle [checked]="true" value="Mcq">Mcq</md-button-toggle>
                <md-button-toggle value="Short">Short Answer</md-button-toggle>
            </md-button-toggle-group>                 
            <app-control-messages [control]="sectionForm.controls.type"></app-control-messages>

        </div>
        <div>
            Numbering?:
            <md-button-toggle-group formControlName="incrimentationScheme">
                <md-button-toggle [checked]="true" value="Numbered">Numbered: 1, 2, 3</md-button-toggle>
                <md-button-toggle value="RomanNumerals">Roman Numerals: i, ii, iii</md-button-toggle>
                <md-button-toggle value="Alphabedical">Alphabedical: a, b, c</md-button-toggle>
            </md-button-toggle-group>
            <app-control-messages [control]="sectionForm.controls.incrimentationScheme"></app-control-messages>
        </div>

        <button md-button (click)="addSubQuestion(i)" type="button">+ Add Sub Question</button>
        <ul>
            <li *ngFor="let section of sectionForm.controls.subQuestions.controls; let i=index">
                <button md-button (click)="removeSection(i)" type="button">RemoveSection</button>
                <app-question-section [sectionForm]="section"></app-question-section>
            </li>
        </ul>
        
            
    </div>
</div>
