.alert-container{
  position: fixed;
  top:40%;
  left: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.alert{
  width: 300px;
  text-align: center;
  background-color: lightgray;
  padding: 30px;
}

.alert-type-0{
  background-color: green;
}
.alert-type-1{
  background-color: #5eb2ff;
}
.alert-type-2{
  background-color: #fdba2c;
}
.alert-type-3{
  background-color: #da4733;
}