<h1>Exams</h1>
<button md-icon-button color="secondary" [routerLink]="['../']" >
  <md-icon>chevron_left</md-icon>
</button>

<div *ngIf="loggedIn$ | async">
  <button type="button" md-raised-button color="primary" (click)="openNewExamDialog()">Add Exam</button>
  <a class="header-navigation__link" [routerLink]="['/courses', 1, 2, 'add-exam']" routerLinkActive="active-router-link">Add Exam</a>
</div>

<md-list>
  <md-list-item *ngFor="let exam of exams$ | async; trackBy: trackByFn" [routerLink]="exam.id" class="can-click highlight-background">
    <h3 md-line>{{exam.year}}</h3>
    <span md-line>Semester: {{exam.semester}}</span>
  </md-list-item>
</md-list>
