<md-toolbar color="primary">
  <div fxFlex="100%" fxLayoutAlign="center center">
    <span fxFlex="33%">
      <h2>
        <a [routerLink]="['/']" >Pass Past</a>
      </h2>
    </span>
    <span fxFlex="33%" fxLayoutAlign="center center">

      <span *ngIf="currentCourse$ | async; let currentCourse">
        <a [routerLink]="['/' + currentCourse.$key]">
          {{currentCourse.code}}
        </a>

        <span *ngIf="currentPaper$ | async; let currentPaper">
          <a [routerLink]="['/' + currentCourse.$key, currentPaper.$key]">
            {{currentPaper.name}}
          </a>

          <span *ngIf="currentExam$ | async; let currentExam">
            <a [routerLink]="['/' + currentCourse.$key, currentPaper.$key, currentExam.$key]">
              {{currentExam.year}}
              {{currentExam.semester}}
            </a>
          </span>
        </span>
      </span>

    </span>
    <span fxFlex="33%" fxLayoutAlign="end end">

    <span *ngIf="loggedIn$ | async; else notLoggedIn">
      Welcome {{(profile$ | async)?.displayName}}
      <a class="can-click" (click)="logout()">Logout</a>
    </span>

    <ng-template #notLoggedIn>
      Login:
      &nbsp;
      <a (click)="loginGoogle()" class="can-click">Google</a>
      &nbsp;
      <a (click)="loginFacebook()" class="can-click">Facebook</a>
    </ng-template>

    </span>
  </div>
</md-toolbar>
<app-loading-bar></app-loading-bar>

<div *ngIf="isAdmin$ | async">
  <a [routerLink]="['/admin/roles']">Roles</a> |
  <a [routerLink]="['/admin/current-users']">Current Users</a> |
  <a [routerLink]="['/admin/requests']">Requests</a>
</div>
