<form [formGroup]="newExamForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <div>
    <form-input [control]="newExamForm.get('year')" placeholder="Year" [group]="newExamForm"></form-input>
  </div>

  <div>
    <md-button-toggle-group formControlName="semester">
      <md-button-toggle value="S1">S1</md-button-toggle>
      <md-button-toggle value="S2">S2</md-button-toggle>
      <md-button-toggle value="SS">SS</md-button-toggle>
    </md-button-toggle-group>
    <av-validation-messages [control]="newExamForm.get('semester')"></av-validation-messages>
  </div>

  <button md-button (click)="reset()" type="button">Reset</button>
  <button md-button (click)="addSection()" type="button">+ Add Section</button>
  <ul>
    <li *ngFor="let section of newExamForm.get('sections')['controls']; let i=index">
      <button md-button (click)="removeSection(i)" type="button">RemoveSection</button>
      <app-question-section [sectionForm]="section"></app-question-section>
    </li>
  </ul>

  <button md-raised-button color="primary" type="submit" [disabled]="!newExamForm.valid">Submit</button>
</form>
