<div [formGroup]="sectionForm" class="new-question-section-form">
  <div>
    <form-input [control]="sectionForm.get('count')" placeholder="Count" [group]="sectionForm"></form-input>
  </div>

  <div>
    <div>
      Question Type:
      <md-button-toggle-group formControlName="type">
        <md-button-toggle value="mcq">Mcq</md-button-toggle>
        <md-button-toggle value="short">Short Answer</md-button-toggle>
      </md-button-toggle-group>
      <av-validation-messages [control]="sectionForm.get('type')"></av-validation-messages>

    </div>
    <div>
      Numbering:
      <md-button-toggle-group formControlName="incrimentType">
        <md-button-toggle value="numbered">1, 2, 3</md-button-toggle>
        <md-button-toggle value="alpha">a, b, c</md-button-toggle>
        <md-button-toggle value="roman">i, ii, iii</md-button-toggle>
      </md-button-toggle-group>
      <av-validation-messages [control]="sectionForm.get('incrimentType')"></av-validation-messages>
    </div>

    <button md-button (click)="addSubQuestion()" type="button">+ Add Sub Question</button>
    {{i}}
    <ul>
      <li *ngFor="let section of sectionForm.get('subQuestions')['controls']; let i=index">
        <button md-button (click)="removeSection(i)" type="button">RemoveSection</button>
        <app-question-section [sectionForm]="section"></app-question-section>
      </li>
    </ul>


  </div>
</div>
