<div [formGroup]="sectionForm" class="new-question-section-form">
  <div>
    <md-input-container>
      <input md-input placeholder="Count" formControlName="count">
    </md-input-container>
    <av-validation-messages [control]="sectionForm.controls.count"></av-validation-messages>
  </div>

  <div>
    <div>
      Question Type:
      <md-button-toggle-group formControlName="type">
        <md-button-toggle value="mcq">Mcq</md-button-toggle>
        <md-button-toggle value="short">Short Answer</md-button-toggle>
      </md-button-toggle-group>
      <av-validation-messages [control]="sectionForm.controls.type"></av-validation-messages>

    </div>
    <div>
      Numbering?:
      <md-button-toggle-group formControlName="incrimentType">
        <md-button-toggle value="numbered">Numbered: 1, 2, 3</md-button-toggle>
        <md-button-toggle value="roman">Roman Numerals: i, ii, iii</md-button-toggle>
        <md-button-toggle value="alpha">Alphabedical: a, b, c</md-button-toggle>
      </md-button-toggle-group>
      <av-validation-messages [control]="sectionForm.controls.incrimentType"></av-validation-messages>
    </div>

    <button md-button (click)="addSubQuestion(i)" type="button">+ Add Sub Question</button>
    <ul>
      <li *ngFor="let section of sectionForm.controls.subQuestions.controls; let i=index">
        <button md-button (click)="removeSection(i)" type="button">RemoveSection</button>
        <app-question-section [sectionForm]="section"></app-question-section>
      </li>
    </ul>


  </div>
</div>
