<div>
    <span md-line>
        <!--id: {{question.id}}-->
    </span>
    <span md-line>
       {{question.incriment}}
    </span>
    <span >
        <!--type: {{question.type}}-->
    </span>
    <div>
        Answers:<br />
        <div *ngFor="let answer of question.answers">
            <span *ngIf="question.type == 0">+                
                {{answer.contentOrIncriment}}
                Votes: {{answer.totalVotes}}<br />
            </span>
            <span *ngIf="question.type == 1">
                Short
                Votes: {{answer.totalVotes}}<br />
                {{contentOrIncriment}}
            </span>
            
        </div>
        Comments:<br />
        <div>
            <form [formGroup]="newCommentForm" novalidate (ngSubmit)="sendComment(question.id)">
                <md-input placeholder="new comment" formControlName="content"></md-input>
            </form>
            <!--<form>
                <input />
            </form>-->
        </div>

    </div>
    <ul>
        <li *ngFor="let subQuestion of question.subQuestions">
            <app-question [question]="subQuestion"></app-question>        
        </li> 
    </ul>
    
</div>