/* Globals */
 @import url('~https://fonts.googleapis.com/icon?family=Material+Icons');

/*@import '~@angular/material/core/theming/prebuilt/pink-bluegrey.css';*/
/*@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';*/
/*@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';*/
/*@import '~@angular/material/core/theming/prebuilt/purple-green.css';*/
 @import './theme';
//them colors
//$app-primary
//$app-accent
//$app-warn

body{
  font-family: Arial, serif;
  color: $black-87-opacity;
  margin: 0;
}

.capital{
    text-transform: capitalize;
}

.center-text{
  text-align: center;
}

a{
  color: $black-87-opacity;
  text-decoration: none;
}

a:hover{
  color: mat-color($app-accent)
}


.can-click{
  cursor: pointer;
}

.highlight-background:hover{
  background:lightgrey
}

md-card{
  margin: 10px;
}

.gray-text{
  color: gray;
}
