@import '~@angular/material/core/theming/all-theme';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$primary: $mat-amber;
$accent: $mat-red;
$warn: $mat-red;


$app-primary: mat-palette($primary);
$app-accent:  mat-palette($accent, A200, A100, A400);

// // The warn palette is optional (defaults to red).
 $app-warn:    mat-palette($warn);

// // Create the theme object (a Sass map containing all of the palettes).
 $app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
 @include angular-material-theme($app-theme);


// Color palettes from the Material Design spec.
// See https://www.google.com/design/spec/style/color.html
//
// Contrast colors are hard-coded because it is too difficult (probably impossible) to
// calculate them. These contrast colors are pulled from the public Material Design spec swatches.
// While the contrast colors in the spec are not prescriptive, we use them for convenience.


$black-87-opacity: rgba(black, 0.87);
$white-87-opacity: rgba(white, 0.87);

//allowed colors
// $mat-red
// $mat-pink
// $mat-purple
// $mat-deep-purple
// $mat-indigo
// $mat-blue
// $mat-light-blue
// $mat-cyan
// $mat-teal
// $mat-green
// $mat-light-green
// $mat-lime
// $mat-yellow
// $mat-amber
// $mat-orange
// $mat-deep-orange
// $mat-brown
// $mat-grey
// $mat-blue-grey
