body {
    padding-top: 0px;
    padding-bottom: 20px;
    background: #464646;
    height: 100vh; /* Makes the left sidebar stretch all the way down if the page doesn't scroll */
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h4 {
    padding: 10px;
    margin: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 20px;
    background: #ffffff;
    min-height: 100vh;
    height: auto;
}

.sidebar {
    text-align: center;
    color: #eeeeee;
    margin-top: 100px;
    padding: 0;
}

.commentbar {
    background: #f6f6f6;
    min-height: 100vh;
    height: auto;
}

.btn-default {
    border-radius:0;
    background: #e7e7e7;
    border: none;
}

.sidebar-btn {
    background: #5f5f5f;
    color: white;
}

.active-sidebar-page {
    background: #ed9b3b;
}

.sidebar-div:hover {
    background: #5d5d5d;
}

.sidebar-div a:link,
.sidebar-div a:visited {
    color: #eeeeee;
}

a,
a:link,
a:visited {
    color: #eeeeee;
}

a:hover {
    color: #ed9b3b;
}

.hidden-top-sidebar {
    visibility: hidden; /* So it's only visible on small views */
    height: 0px;
    border: 0px;
    background-color: #464646;
    text-align: center;
}

/* I didn't know which class changed this stuff in the collapsible top sidebar, so here's them all at once! */
.panel-title,
.panel-heading,
.panel,
.panel-group,
.panel-default {
    background-color: #464646;
    border: 0px;
    margin: 0px;
    padding: 0px;
    color: #eeeeee;
}

.poll-box {
    margin: 25px;
    margin-left: 0px;
    padding: 10px;
}

.poll-bar-green {
    background: #8bd619;
}

.poll-bar-red {
    background: #f86c1d;
}

.poll-bar-grey {
    background: #ebebeb;
}

.paper-title {
    margin: 50px 0 70px 0;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.table {
	margin-bottom: 0px;
 }

.number-row {
    width: 20px;
}

.vote-row {
    width: 30px;
	padding: 0;
	margin-bottom: 20px;
}

.right-vote-row {
	margin-left: 25px;
}

.right-comments {
	margin-bottom: 20px;
}

.answer-row {
	white-space: pre-line; /* Lets you add breaks to comments, otherwise it's all one long paragraph no matter what formatting you do */
	margin-bottom: 20px;
	overflow: hidden;
}

.comment {
	width: 100%;
	max-width: 100%;
	margin-bottom: 10px;
	margin-top: 20px;
}

.comment-form {
	display: none; /* Invisible at first */
}

.right-comment-form {
	display: none;
}

.written-question-number {
	font-weight: bold;
}

.sidebar-tip {
	color: #9f9f9f;
	font-style: italic;
}

.right-sidebar-div {
	background: #f6f6f6;
	margin: 0;
	padding: 0;
	min-height: 0;
	padding-right: 10px;
}

.written-test-table {
	margin-top: 25px;
	margin-bottom: 25px;
}

.comment-submit-button {
	margin-bottom: 20px;
}

.vote-submit-button {
	background-color: transparent;
	margin: 0;
	padding: 0;
	color: #b2b2b2;
}

.mcq-name {
    color: #333;
}

.mcq-name:hover {
    background-color: transparent;
    font-weight: bold;
}

.upvote-submit-button:hover {
	color: #8bd619;
	background-color: transparent;
}

.downvote-submit-button:hover {
	color: #f86c1d;
	background-color: transparent;
}

.comment-timestamp {
	margin-top: 7px;
	font-style: italic;
	font-size: smaller;
	color: #b1b0b0;
}

/* When screen width smaller than 990 */
@media (max-width: 990px) {
    .sidebar {
        margin-top: 0px;
        visibility: hidden;
        height: 0px;
    }

    .hidden-top-sidebar {
        visibility: visible;
        height: auto;
        padding-top: 20px;
    }

    .paper-title {
        margin: 0;
    }

    .written-test-table {
        margin-bottom: 25px;
    }
}