<md-card-title (click)="showContent=!showContent" class="can-click highlight-background" >
  {{question.incriment}} <md-icon *ngIf="!showContent">expand_more</md-icon><md-icon *ngIf="showContent">expand_less</md-icon>
</md-card-title>

<!--main content toggle-->
<div *ngIf="showContent">
  <!--Answers-->

  <div *ngIf="answers$ | async; let answers; else answersLoading">
    <div *ngFor="let answer of answers">
      <!--MCQ-->
      <div *ngIf="question.type == 'mcq'">
        <app-answer-mcq [totalAnswerVotes]="answerVoteSum | async" [answer]="answer" [loggedIn]="loggedIn" ></app-answer-mcq>
      </div>

      <!--Short -->
      <div *ngIf="question.type == 'short'">
        <app-answer-short [answer]="answer" [loggedIn]="loggedIn"></app-answer-short>
      </div>

    </div>
  </div>

  <!--<ng-template #answersLoading>
    <md-spinner ></md-spinner>
  </ng-template>-->

  <span *ngIf="subQuestions$ | async; let subQuestions">
    <md-card *ngFor="let subQuestion of subQuestions; trackBy: trackByFn">
      <app-question [question]="subQuestion" [loggedIn]="loggedIn"></app-question>
    </md-card>

      <!--makes sure this the is bottom level question-->
    <span *ngIf="subQuestions?.length === 0">
      <!--New Answer-->
      <span *ngIf="question.type == 'short'">
        <app-new-answer [questionKey]="question.$key" [loggedIn]="loggedIn"></app-new-answer>
      </span>

      <a (click)="showComments = !showComments" class="can-click">{{showComments ? 'Hide' : 'Show'}} comments</a>

      <!--Comments-->
      <span *ngIf="showComments">
        <!--New Comment-->
        <app-new-comment [questionKey]="question.$key" [loggedIn]="loggedIn" ></app-new-comment>

        <div *ngIf="comments$ | async; else commentsLoading; let comments">
          <div *ngFor="let comment of comments">
            <app-comment [comment]="comment" [loggedIn]="loggedIn"></app-comment>
          </div>

          <div *ngIf="comments.length === 0">
            There are no comments for this question
          </div>

        </div>

        <ng-template #commentsLoading>
          <md-spinner></md-spinner>
        </ng-template>

      </span>
    </span>
  </span>
</div>
