<h1>Reset your password below</h1>

<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

    <div>
        <md-input placeholder="New Password" formControlName="password"></md-input>
        <control-messages [control]="resetPasswordForm.controls.password"></control-messages>
    </div>

    <div>
        <md-input placeholder="Confirm Password" formControlName="confirmPassword"></md-input>
        <control-messages [control]="resetPasswordForm.controls.confirmPassword"></control-messages>
    </div>
    <div *ngIf="resetPasswordForm.errors?.invalidCompare && resetPasswordForm.touched">
        Passwords must match
    </div>

    <button md-raised-button color="primary" type="submit" [disabled]="!resetPasswordForm.valid" >Submit</button>
</form>